<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="gallery">
 <insert id="addGallery" parameterType="Gdto">
 	insert into gallery values(gallery_seq.nextVal,#{Gwriter},#{Gfile},#{Gtitle},#{Gtext},sysdate,0,0)
 </insert>
 
 <select id="listGallery" resultType="Gdto">
 select gno, gfile, gtitle, gtext, ghit, glike from gallery order by 1 desc
 </select>
 
 <select id="detailGallery" parameterType="int" resultType="Gdto">
 select gno, gwriter, gfile, gtitle, gtext, gdate, ghit, glike from gallery where gno=#{gno}
 </select>
 
 <update id="updateGallery" parameterType="Gdto">
 update gallery set gfile=#{gfile}, gwriter=#{gwriter}, gtitle=#{gtitle}, gtext=#{gtext} where gno=#{gno}
 </update>
 
 <delete id="deleteGallery" parameterType="Gdto">
 delete from gallery where gno=#{gno}
 </delete>
 
 <update id="updateLike" parameterType="Gdto">
 update gallery set glike=glike+1 where gno=#{gno}
 </update>
 
 </mapper>